*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'poppins' , sans-serif;
}
section
{
    
    position: relative;
    width: 100%;
    height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bg
{
    background-color: #EF6262;
    position: absolute;
    font-size: 20vw;
    font-weight: 700;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    white-space: none;
    left: 0;
    top: 0;
     transition: 0.5s;
    user-select: none;
    color: rgba(0, 0, 0, 0.1);
}
select
{
    position: relative;
    border: none;
    border-right: 10px white solid;
    outline: none;
    width: 300px;
    padding: 20px;
    font-size: 17px;
    background-color: #fff;
    z-index: 20;
}